.headerAndFooter{
  background-color: black;
  color: white;
}

.Container{
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  background-color: aliceblue;

}

.list-unstyled{
  list-style: none;
}